

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lilita One', cursive;
}


html {
  background: url('https://i.pinimg.com/originals/af/3c/79/af3c7977a6ad473bb6b1d86c13084595.png');
    background-size: cover;
    background-position: center;
}