

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lilita One', cursive;
}


html {
  background: url('https://i.pinimg.com/originals/26/12/80/26128039a1d5c1051e2b9a18f9d71121.jpg');
    background-size: cover;
    background-position: center;
}